---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: kubeapiservers.cluster.kubeception.ulfo.fr
spec:
  group: cluster.kubeception.ulfo.fr
  names:
    kind: KubeAPIServer
    listKind: KubeAPIServerList
    plural: kubeapiservers
    shortNames:
    - kas
    singular: kubeapiserver
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KubeAPIServer is the Schema for the kubeapiservers API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KubeAPIServerSpec defines the desired state of KubeAPIServer
            properties:
              deployment:
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    type: string
                  replicas:
                    format: int32
                    type: integer
                type: object
              etcd-servers:
                type: string
              options:
                properties:
                  advertise-address:
                    type: string
                  service-cluster-ip-range:
                    type: string
                type: object
              tls:
                properties:
                  ca-secret-name:
                    type: string
                  konnectivity-secret-name:
                    type: string
                  kube-apiserver-secret-name:
                    type: string
                  service-accounts-secret-name:
                    type: string
                type: object
              version:
                type: string
            type: object
          status:
            description: KubeAPIServerStatus defines the observed state of KubeAPIServer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
