---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: kubecontrollermanagers.cluster.kubeception.ulfo.fr
spec:
  group: cluster.kubeception.ulfo.fr
  names:
    kind: KubeControllerManager
    listKind: KubeControllerManagerList
    plural: kubecontrollermanagers
    shortNames:
    - kcm
    singular: kubecontrollermanager
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KubeControllerManager is the Schema for the kubecontrollermanagers
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KubeControllerManagerSpec defines the desired state of KubeControllerManager
            properties:
              deployment:
                description: Deployment configuration
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    type: string
                  replicas:
                    format: int32
                    type: integer
                type: object
              kube-apiserver-service:
                description: KubeAPIServer Service infos
                properties:
                  name:
                    type: string
                  port:
                    type: integer
                type: object
              tls:
                description: Service accounts TLS secret name
                properties:
                  ca:
                    type: string
                  kube-controller-manager-tls:
                    type: string
                  service-accounts-tls:
                    type: string
                type: object
            type: object
          status:
            description: KubeControllerManagerStatus defines the observed state of
              KubeControllerManager
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
